examples/common/Event/2-Event.json
[
    {
        "id": "942b0b21b6bc4cb9",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "/dev/ttyACM0",
        "setIOin": "",
        "edge": "none",
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "84e9b1e944b5d552"
            ]
        ]
    },
    {
        "id": "b44f21bac8be6122",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "监听指定类型的串口事件",
        "info": "",
        "x": 430,
        "y": 980,
        "wires": []
    },
    {
        "id": "84e9b1e944b5d552",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "监听/dev/ttyACM0的插入事件",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 1020,
        "wires": []
    }
]