examples/common/IO Interrupt/IO_Interrupt.json
[
    {
        "id": "b4b7e66aad36e8d7",
        "type": "IO Interrupt",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "pin": "80",
        "mode": "pullDown",
        "interrupt": "both",
        "oldrc": false,
        "x": 390,
        "y": 1280,
        "wires": [
            [
                "65b8112ef63a98e1"
            ]
        ]
    },
    {
        "id": "65b8112ef63a98e1",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "GPIO的80引脚的双边沿中断触发",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1280,
        "wires": []
    },
    {
        "id": "be592daf65a560f1",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "GPIO的80引脚的双边沿中断触发",
        "info": "",
        "x": 450,
        "y": 1220,
        "wires": []
    }
]