examples/common/ADC/ADC.json
[
    {
        "id": "2984cf83dd7e3913",
        "type": "ADC",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "pin": "2",
        "x": 460,
        "y": 1060,
        "wires": [
            [
                "ce193771f5dfd683"
            ]
        ]
    },
    {
        "id": "d2c472da58e2c28d",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1080,
        "wires": [
            [
                "2984cf83dd7e3913"
            ]
        ]
    },
    {
        "id": "ab85028b947f6616",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "随机的输入触发，每隔10s采集一次",
        "info": "",
        "x": 340,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ce193771f5dfd683",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "ADC2的电压",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1060,
        "wires": []
    },
    {
        "id": "0416a3ff9761ee04",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "每隔10s采集一次ADC2引脚的电压",
        "info": "",
        "x": 540,
        "y": 1000,
        "wires": []
    }
]