examples/Burn-Nodes/ESP32烧录节点/TEL0118/TEL0118.json
[
    {
        "id": "ed545c3dc33c07e2",
        "type": "GPIO输出",
        "z": "1c9952406c8324a7",
        "name": "",
        "pin": "80",
        "level": "0",
        "set": "",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "97f4c77b2c2a273a"
            ]
        ]
    },
    {
        "id": "0fa8da91aee6ca1e",
        "type": "inject",
        "z": "1c9952406c8324a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "ed545c3dc33c07e2"
            ]
        ]
    },
    {
        "id": "97f4c77b2c2a273a",
        "type": "debug",
        "z": "1c9952406c8324a7",
        "name": "debug 108",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "9194a968921de0ba",
        "type": "IO中断",
        "z": "1c9952406c8324a7",
        "name": "KeyB按钮按下触发",
        "pin": "78",
        "mode": "pullDown",
        "interrupt": "falling",
        "oldrc": false,
        "x": 310,
        "y": 1080,
        "wires": [
            [
                "1ebf6bac053d0272"
            ]
        ]
    },
    {
        "id": "9a3f1618a8b6fc7f",
        "type": "串口通信",
        "z": "1c9952406c8324a7",
        "name": "",
        "port": "",
        "baudrate": "9600",
        "baudrate_custom": "",
        "responseTime": "12",
        "cmd": "|2|1|dfrobotGuest,dfrobot2020|",
        "endMark": "CR",
        "x": 860,
        "y": 1180,
        "wires": [
            [
                "04b4f118168d2a01",
                "666d6ddd858e65fb",
                "584a126b43f71cfc"
            ]
        ]
    },
    {
        "id": "a9af06c7874bbd54",
        "type": "function",
        "z": "1c9952406c8324a7",
        "name": "function 2",
        "func": "\nlet msg0 = { \"topic\": \"device0\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB0\" } }\nlet msg1 = { \"topic\": \"device1\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB1\" } }\nlet msg2 = { \"topic\": \"device2\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB2\" } }\nlet msg3 = { \"topic\": \"device3\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB3\" } }\nlet msg4 = { \"topic\": \"device4\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB4\" } }\nlet msg5 = { \"topic\": \"device5\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB5\" } }\nlet msg6 = { \"topic\": \"device6\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB6\" } }\nlet msg7 = { \"topic\": \"device7\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB7\" } }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7];",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1180,
        "wires": [
            [
                "22652d189a622d7e"
            ],
            [
                "22652d189a622d7e"
            ],
            [
                "22652d189a622d7e"
            ],
            [
                "22652d189a622d7e"
            ],
            [
                "22652d189a622d7e"
            ],
            [
                "22652d189a622d7e"
            ],
            [
                "22652d189a622d7e"
            ],
            [
                "22652d189a622d7e"
            ]
        ]
    },
    {
        "id": "6658aca4d8add50d",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "分筛设备",
        "property": "payload.device_name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/dev/ttyUSB0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 1400,
        "y": 640,
        "wires": [
            [
                "5f2f5f942fb0653e"
            ],
            [
                "cdc81e0b0e3b7a08"
            ],
            [
                "7de3e727f6d4b023"
            ],
            [
                "77043fc3121c03cb"
            ],
            [
                "ddb0c43737bf6a3a"
            ],
            [
                "7d271a92fb815d09"
            ],
            [
                "28989b108f662b55"
            ],
            [
                "6e858958305ec9df"
            ]
        ]
    },
    {
        "id": "f410a1a07fd44d7a",
        "type": "comment",
        "z": "1c9952406c8324a7",
        "name": "设备0-设备9的LCD屏幕中的图像绘制",
        "info": "",
        "x": 1660,
        "y": 240,
        "wires": []
    },
    {
        "id": "1443b69dd6256e37",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "烧录结果",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Burning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 740,
        "y": 660,
        "wires": [
            [
                "b844700a24b02530"
            ],
            [
                "2b6ffb8aceb4948e"
            ],
            [
                "43851c74fd875fd9"
            ]
        ]
    },
    {
        "id": "f01cb5b47bd58bc2",
        "type": "inject",
        "z": "1c9952406c8324a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1580,
        "y": 380,
        "wires": [
            [
                "d7dd905499732449",
                "ea524a61f37ea5f3",
                "3ec2da21a76cd7a3",
                "9234c290e0206be9",
                "79045d881b9ef49a",
                "22b512144f994725",
                "566567a66bd1a75e",
                "8b2f815e933baedf",
                "103ef92c560cf2bb",
                "0b43f258f0bbbdd4",
                "5bcd5716d7764820",
                "c0b54ca2223c7b96",
                "e9e87033fe697a69",
                "9bb13056c61da2e9",
                "1ebd9f7fe8655b8f",
                "a519fe673e92df1c",
                "82401ca3c13ea094"
            ]
        ]
    },
    {
        "id": "2b6ffb8aceb4948e",
        "type": "更改属性",
        "z": "1c9952406c8324a7",
        "name": "重新渲染矩形：绿色（烧录成功）",
        "graphic_options": "rect",
        "background_color": "#00FF00",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#00FF00",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "6658aca4d8add50d"
            ]
        ]
    },
    {
        "id": "43851c74fd875fd9",
        "type": "更改属性",
        "z": "1c9952406c8324a7",
        "name": "重新渲染矩形：红色（烧录失败）",
        "graphic_options": "rect",
        "background_color": "#FFFFFF",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#FF0000",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 1100,
        "y": 700,
        "wires": [
            [
                "6658aca4d8add50d"
            ]
        ]
    },
    {
        "id": "b844700a24b02530",
        "type": "更改属性",
        "z": "1c9952406c8324a7",
        "name": "重新渲染矩形：青色（烧录中...）",
        "graphic_options": "rect",
        "background_color": "#FFFFFF",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#00FFFF",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "6658aca4d8add50d"
            ]
        ]
    },
    {
        "id": "e2c050a2642e4ca1",
        "type": "inject",
        "z": "1c9952406c8324a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1600,
        "y": 280,
        "wires": [
            [
                "7c969629965f410b"
            ]
        ]
    },
    {
        "id": "7c969629965f410b",
        "type": "背景颜色",
        "z": "1c9952406c8324a7",
        "name": "",
        "background_color": "#FFFFFF",
        "custom_color": "",
        "priority": "5",
        "set": true,
        "x": 1780,
        "y": 200,
        "wires": []
    },
    {
        "id": "d7dd905499732449",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备0",
        "text_content": "设备0",
        "coord_x": "110",
        "coord_y": "0",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1960,
        "y": 660,
        "wires": []
    },
    {
        "id": "ea524a61f37ea5f3",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备1",
        "text_content": "设备1",
        "coord_x": "200",
        "coord_y": "0",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1960,
        "y": 700,
        "wires": []
    },
    {
        "id": "3ec2da21a76cd7a3",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备2",
        "text_content": "设备2",
        "coord_x": "290",
        "coord_y": "0",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1960,
        "y": 740,
        "wires": []
    },
    {
        "id": "9234c290e0206be9",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备3",
        "text_content": "设备3",
        "coord_x": "380",
        "coord_y": "0",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1960,
        "y": 780,
        "wires": []
    },
    {
        "id": "79045d881b9ef49a",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备5",
        "text_content": "设备5",
        "coord_x": "110",
        "coord_y": "160",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1960,
        "y": 880,
        "wires": []
    },
    {
        "id": "22b512144f994725",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备6",
        "text_content": "设备6",
        "coord_x": "200",
        "coord_y": "160",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1960,
        "y": 920,
        "wires": []
    },
    {
        "id": "566567a66bd1a75e",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备7",
        "text_content": "设备7",
        "coord_x": "290",
        "coord_y": "160",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1960,
        "y": 960,
        "wires": []
    },
    {
        "id": "8b2f815e933baedf",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备8",
        "text_content": "设备8",
        "coord_x": "380",
        "coord_y": "160",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1960,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5f2f5f942fb0653e",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "110",
        "coord_y": "30",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1720,
        "y": 600,
        "wires": []
    },
    {
        "id": "cdc81e0b0e3b7a08",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "200",
        "coord_y": "30",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1720,
        "y": 640,
        "wires": []
    },
    {
        "id": "7de3e727f6d4b023",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "290",
        "coord_y": "30",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1720,
        "y": 680,
        "wires": []
    },
    {
        "id": "77043fc3121c03cb",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "380",
        "coord_y": "30",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1720,
        "y": 720,
        "wires": []
    },
    {
        "id": "ddb0c43737bf6a3a",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "110",
        "coord_y": "190",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1720,
        "y": 780,
        "wires": []
    },
    {
        "id": "7d271a92fb815d09",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "200",
        "coord_y": "190",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1720,
        "y": 820,
        "wires": []
    },
    {
        "id": "28989b108f662b55",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "290",
        "coord_y": "190",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1720,
        "y": 860,
        "wires": []
    },
    {
        "id": "6e858958305ec9df",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "380",
        "coord_y": "190",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1720,
        "y": 900,
        "wires": []
    },
    {
        "id": "772feff30c5991d6",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "",
        "property": "payload.serial_response",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "|2|3|",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 1180,
        "wires": [
            [
                "eb1f7b63124b5099"
            ],
            [
                "c5eaa6867584750a"
            ]
        ]
    },
    {
        "id": "103ef92c560cf2bb",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-烧录结果",
        "text_content": "烧录结果",
        "coord_x": "10",
        "coord_y": "30",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1970,
        "y": 400,
        "wires": []
    },
    {
        "id": "0b43f258f0bbbdd4",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备编号",
        "text_content": "设备编号",
        "coord_x": "10",
        "coord_y": "0",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1970,
        "y": 360,
        "wires": []
    },
    {
        "id": "5bcd5716d7764820",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-WIFI测试",
        "text_content": "WIFI测试",
        "coord_x": "10",
        "coord_y": "90",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1970,
        "y": 440,
        "wires": []
    },
    {
        "id": "c0b54ca2223c7b96",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-设备编号",
        "text_content": "设备编号",
        "coord_x": "10",
        "coord_y": "160",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1970,
        "y": 520,
        "wires": []
    },
    {
        "id": "e9e87033fe697a69",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-烧录结果",
        "text_content": "烧录结果",
        "coord_x": "10",
        "coord_y": "190",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1970,
        "y": 560,
        "wires": []
    },
    {
        "id": "9bb13056c61da2e9",
        "type": "绘制文本",
        "z": "1c9952406c8324a7",
        "name": "设置文本-WIFI测试",
        "text_content": "WIFI测试",
        "coord_x": "10",
        "coord_y": "250",
        "font_size": "20",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1970,
        "y": 600,
        "wires": []
    },
    {
        "id": "1ebd9f7fe8655b8f",
        "type": "绘制直线",
        "z": "1c9952406c8324a7",
        "name": "",
        "x0": "0",
        "y0": "160",
        "x1": "480",
        "y1": "160",
        "line_width": "2",
        "line_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1940,
        "y": 280,
        "wires": []
    },
    {
        "id": "a519fe673e92df1c",
        "type": "绘制直线",
        "z": "1c9952406c8324a7",
        "name": "",
        "x0": "100",
        "y0": "0",
        "x1": "100",
        "y1": "320",
        "line_width": "1",
        "line_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1940,
        "y": 320,
        "wires": []
    },
    {
        "id": "e4868028da877a6b",
        "type": "GPIO输出",
        "z": "1c9952406c8324a7",
        "name": "",
        "pin": "80",
        "level": "1",
        "set": "",
        "x": 700,
        "y": 540,
        "wires": [
            [
                "be45cc275b79b21f"
            ]
        ]
    },
    {
        "id": "9032ced41ddb1cdd",
        "type": "debug",
        "z": "1c9952406c8324a7",
        "name": "debug 118",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "be45cc275b79b21f",
        "type": "delay",
        "z": "1c9952406c8324a7",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 540,
        "wires": [
            [
                "9032ced41ddb1cdd",
                "9822d44a539ade80"
            ]
        ]
    },
    {
        "id": "9822d44a539ade80",
        "type": "function",
        "z": "1c9952406c8324a7",
        "name": "function 3",
        "func": "\nlet msg0 = { \"topic\": \"device0\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB0\" } }\nlet msg1 = { \"topic\": \"device1\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB1\" } }\nlet msg2 = { \"topic\": \"device2\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB2\" } }\nlet msg3 = { \"topic\": \"device3\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB3\" } }\nlet msg4 = { \"topic\": \"device4\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB4\" } }\nlet msg5 = { \"topic\": \"device5\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB5\" } }\nlet msg6 = { \"topic\": \"device6\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB6\" } }\nlet msg7 = { \"topic\": \"device7\", \"payload\": { \"action\": \"add\", \"device_name\": \"/dev/ttyUSB7\" } }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7];",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 660,
        "wires": [
            [
                "241bb948b4f1c046"
            ],
            [
                "241bb948b4f1c046"
            ],
            [
                "241bb948b4f1c046"
            ],
            [
                "241bb948b4f1c046"
            ],
            [
                "241bb948b4f1c046"
            ],
            [
                "241bb948b4f1c046"
            ],
            [
                "241bb948b4f1c046"
            ],
            [
                "241bb948b4f1c046"
            ]
        ]
    },
    {
        "id": "241bb948b4f1c046",
        "type": "ESP32烧录",
        "z": "1c9952406c8324a7",
        "name": "",
        "chip": "esp8266",
        "custom_chip": "",
        "firmware": "/root/NodeRED-Computer-PartHardware/Executable-Script/Block-Burn/ESP32_Firmware/esp8266/TEL0118-ED10057B.bin",
        "x": 540,
        "y": 660,
        "wires": [
            [
                "fc6448ab76c9b0ce",
                "f372a9bf55414f8e",
                "1443b69dd6256e37"
            ]
        ]
    },
    {
        "id": "6b0a2f3960cf63f6",
        "type": "IO中断",
        "z": "1c9952406c8324a7",
        "name": "KeyA按键按下触发",
        "pin": "77",
        "mode": "pullDown",
        "interrupt": "falling",
        "oldrc": false,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "e710a62ef8feae83",
                "d684bce139ed01d7"
            ]
        ]
    },
    {
        "id": "e710a62ef8feae83",
        "type": "debug",
        "z": "1c9952406c8324a7",
        "name": "debug 120",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "f0efd7ac5dcf9084",
        "type": "delay",
        "z": "1c9952406c8324a7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 540,
        "wires": [
            [
                "e4868028da877a6b"
            ]
        ]
    },
    {
        "id": "6d3c25fd6d40f65b",
        "type": "link out",
        "z": "1c9952406c8324a7",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "1a520340e51f3ce0",
            "e5436c6821815c73",
            "e161e0f1ad765afd"
        ],
        "x": 515,
        "y": 580,
        "wires": []
    },
    {
        "id": "3adf3b360898e3e7",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "分筛设备",
        "property": "payload.device_name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/dev/ttyUSB0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyUSB7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 1660,
        "y": 1160,
        "wires": [
            [
                "ca2e127bb0141a40"
            ],
            [
                "68e91344d32ce9f3"
            ],
            [
                "0751d309357bda91"
            ],
            [
                "60b886dda2d25033"
            ],
            [
                "314c484ee7449974"
            ],
            [
                "905c8229261cfac9"
            ],
            [
                "3a852179fe652cfc"
            ],
            [
                "bc46dbdb4a76916d"
            ]
        ]
    },
    {
        "id": "fc6448ab76c9b0ce",
        "type": "debug",
        "z": "1c9952406c8324a7",
        "name": "debug 121",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 720,
        "wires": []
    },
    {
        "id": "d684bce139ed01d7",
        "type": "流计数",
        "z": "1c9952406c8324a7",
        "name": "",
        "set": true,
        "num_Init": "0",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "808b0d087a343250"
            ]
        ]
    },
    {
        "id": "808b0d087a343250",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "",
        "property": "payload.current_count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "f0efd7ac5dcf9084",
                "6d3c25fd6d40f65b"
            ]
        ]
    },
    {
        "id": "a87a67a2fa150753",
        "type": "流计数",
        "z": "1c9952406c8324a7",
        "name": "",
        "set": true,
        "num_Init": "0",
        "x": 890,
        "y": 780,
        "wires": [
            [
                "682f54325caa44f8",
                "a9d038c817955ae3"
            ]
        ]
    },
    {
        "id": "682f54325caa44f8",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "",
        "property": "payload.current_count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 860,
        "wires": [
            [
                "dcd169d76a923732"
            ]
        ]
    },
    {
        "id": "a9d038c817955ae3",
        "type": "debug",
        "z": "1c9952406c8324a7",
        "name": "debug 123",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1110,
        "y": 780,
        "wires": []
    },
    {
        "id": "f372a9bf55414f8e",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Burning",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 780,
        "wires": [
            [
                "a87a67a2fa150753"
            ]
        ]
    },
    {
        "id": "c07a41d6687af603",
        "type": "GPIO输出",
        "z": "1c9952406c8324a7",
        "name": "",
        "pin": "80",
        "level": "0",
        "set": "",
        "x": 1240,
        "y": 860,
        "wires": [
            [
                "d4a043be8de06bc7",
                "2053a3d861151a23"
            ]
        ]
    },
    {
        "id": "dcd169d76a923732",
        "type": "delay",
        "z": "1c9952406c8324a7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 860,
        "wires": [
            [
                "c07a41d6687af603"
            ]
        ]
    },
    {
        "id": "d4a043be8de06bc7",
        "type": "change",
        "z": "1c9952406c8324a7",
        "name": "msg.payload = reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 860,
        "wires": [
            [
                "e3d6d9a107467f24"
            ]
        ]
    },
    {
        "id": "2053a3d861151a23",
        "type": "debug",
        "z": "1c9952406c8324a7",
        "name": "debug 122",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1410,
        "y": 820,
        "wires": []
    },
    {
        "id": "e3d6d9a107467f24",
        "type": "link out",
        "z": "1c9952406c8324a7",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "21d6f1a3d8d8222d",
            "5fff0828213ddf2d"
        ],
        "x": 1575,
        "y": 860,
        "wires": []
    },
    {
        "id": "21d6f1a3d8d8222d",
        "type": "link in",
        "z": "1c9952406c8324a7",
        "name": "link in 2",
        "links": [
            "e3d6d9a107467f24"
        ],
        "x": 795,
        "y": 820,
        "wires": [
            [
                "a87a67a2fa150753"
            ]
        ]
    },
    {
        "id": "5fff0828213ddf2d",
        "type": "link in",
        "z": "1c9952406c8324a7",
        "name": "link in 3",
        "links": [
            "e3d6d9a107467f24"
        ],
        "x": 195,
        "y": 580,
        "wires": [
            [
                "d684bce139ed01d7"
            ]
        ]
    },
    {
        "id": "1ebf6bac053d0272",
        "type": "流计数",
        "z": "1c9952406c8324a7",
        "name": "",
        "set": true,
        "num_Init": "0",
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "d2c0627b7cc87831"
            ]
        ]
    },
    {
        "id": "d2c0627b7cc87831",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "",
        "property": "payload.current_count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 1180,
        "wires": [
            [
                "a9af06c7874bbd54",
                "c834c165444b1bd2"
            ]
        ]
    },
    {
        "id": "034fb7cc8b540e65",
        "type": "link in",
        "z": "1c9952406c8324a7",
        "name": "link in 5",
        "links": [
            "9d8ecc5e02654b2d"
        ],
        "x": 405,
        "y": 1040,
        "wires": [
            [
                "1ebf6bac053d0272"
            ]
        ]
    },
    {
        "id": "eb1f7b63124b5099",
        "type": "更改属性",
        "z": "1c9952406c8324a7",
        "name": "重新渲染矩形：绿色（测试成功）",
        "graphic_options": "rect",
        "background_color": "#00FF00",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#00FF00",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 1400,
        "y": 1160,
        "wires": [
            [
                "3adf3b360898e3e7"
            ]
        ]
    },
    {
        "id": "c5eaa6867584750a",
        "type": "更改属性",
        "z": "1c9952406c8324a7",
        "name": "重新渲染矩形：红色（测试失败）",
        "graphic_options": "rect",
        "background_color": "#FFFFFF",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#FF0000",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 1400,
        "y": 1200,
        "wires": [
            [
                "3adf3b360898e3e7"
            ]
        ]
    },
    {
        "id": "ca2e127bb0141a40",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "110",
        "coord_y": "90",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1920,
        "y": 1100,
        "wires": []
    },
    {
        "id": "68e91344d32ce9f3",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "200",
        "coord_y": "90",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1920,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0751d309357bda91",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "290",
        "coord_y": "90",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1920,
        "y": 1180,
        "wires": []
    },
    {
        "id": "60b886dda2d25033",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "380",
        "coord_y": "90",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1920,
        "y": 1220,
        "wires": []
    },
    {
        "id": "314c484ee7449974",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "110",
        "coord_y": "250",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1920,
        "y": 1280,
        "wires": []
    },
    {
        "id": "905c8229261cfac9",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "200",
        "coord_y": "250",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1920,
        "y": 1320,
        "wires": []
    },
    {
        "id": "3a852179fe652cfc",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "290",
        "coord_y": "250",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1920,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bc46dbdb4a76916d",
        "type": "绘制矩形",
        "z": "1c9952406c8324a7",
        "name": "",
        "coord_x": "380",
        "coord_y": "250",
        "width": "40",
        "height": "40",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1920,
        "y": 1400,
        "wires": []
    },
    {
        "id": "caf6d78deb91a87d",
        "type": "inject",
        "z": "1c9952406c8324a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1740,
        "y": 1000,
        "wires": [
            [
                "f086a625642205b4"
            ]
        ]
    },
    {
        "id": "1796ce8fce10e4eb",
        "type": "流计数",
        "z": "1c9952406c8324a7",
        "name": "",
        "set": true,
        "num_Init": "0",
        "x": 1170,
        "y": 1240,
        "wires": [
            [
                "60d1225b6819ba76",
                "7debcbe23afd4911"
            ]
        ]
    },
    {
        "id": "60d1225b6819ba76",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "",
        "property": "payload.current_count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1290,
        "y": 1320,
        "wires": [
            [
                "363ff28bf886f72b"
            ]
        ]
    },
    {
        "id": "7debcbe23afd4911",
        "type": "debug",
        "z": "1c9952406c8324a7",
        "name": "debug 124",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1470,
        "y": 1240,
        "wires": []
    },
    {
        "id": "04b4f118168d2a01",
        "type": "switch",
        "z": "1c9952406c8324a7",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Burning",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 1240,
        "wires": [
            [
                "1796ce8fce10e4eb"
            ]
        ]
    },
    {
        "id": "363ff28bf886f72b",
        "type": "change",
        "z": "1c9952406c8324a7",
        "name": "msg.payload = reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 1320,
        "wires": [
            [
                "9d8ecc5e02654b2d"
            ]
        ]
    },
    {
        "id": "afe127acf1f0ed47",
        "type": "link in",
        "z": "1c9952406c8324a7",
        "name": "link in 6",
        "links": [
            "9d8ecc5e02654b2d"
        ],
        "x": 1075,
        "y": 1280,
        "wires": [
            [
                "1796ce8fce10e4eb"
            ]
        ]
    },
    {
        "id": "9d8ecc5e02654b2d",
        "type": "link out",
        "z": "1c9952406c8324a7",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "afe127acf1f0ed47",
            "034fb7cc8b540e65"
        ],
        "x": 1615,
        "y": 1320,
        "wires": []
    },
    {
        "id": "666d6ddd858e65fb",
        "type": "debug",
        "z": "1c9952406c8324a7",
        "name": "debug 126",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1030,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3701aacd515fe239",
        "type": "更改属性",
        "z": "1c9952406c8324a7",
        "name": "重新渲染矩形：青色（测试中...）",
        "graphic_options": "rect",
        "background_color": "#FFFFFF",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#00FFFF",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 1400,
        "y": 1040,
        "wires": [
            [
                "3adf3b360898e3e7"
            ]
        ]
    },
    {
        "id": "8075620a2adecd01",
        "type": "delay",
        "z": "1c9952406c8324a7",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 1040,
        "wires": [
            [
                "3701aacd515fe239"
            ]
        ]
    },
    {
        "id": "22652d189a622d7e",
        "type": "流开关",
        "z": "1c9952406c8324a7",
        "name": "",
        "set": true,
        "flowSwitch": "on",
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "9a3f1618a8b6fc7f",
                "cb6381da97f3b9db"
            ]
        ]
    },
    {
        "id": "7039da728038da46",
        "type": "link in",
        "z": "1c9952406c8324a7",
        "name": "link in 7",
        "links": [
            "cb6381da97f3b9db"
        ],
        "x": 1065,
        "y": 1040,
        "wires": [
            [
                "8075620a2adecd01"
            ]
        ]
    },
    {
        "id": "cb6381da97f3b9db",
        "type": "link out",
        "z": "1c9952406c8324a7",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "7039da728038da46"
        ],
        "x": 765,
        "y": 1140,
        "wires": []
    },
    {
        "id": "584a126b43f71cfc",
        "type": "delay",
        "z": "1c9952406c8324a7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 1180,
        "wires": [
            [
                "772feff30c5991d6"
            ]
        ]
    },
    {
        "id": "82401ca3c13ea094",
        "type": "流开关",
        "z": "1c9952406c8324a7",
        "name": "",
        "set": true,
        "flowSwitch": "on",
        "x": 1570,
        "y": 440,
        "wires": [
            [
                "5f2f5f942fb0653e",
                "cdc81e0b0e3b7a08",
                "7de3e727f6d4b023",
                "77043fc3121c03cb",
                "ddb0c43737bf6a3a",
                "7d271a92fb815d09",
                "28989b108f662b55",
                "6e858958305ec9df"
            ]
        ]
    },
    {
        "id": "f086a625642205b4",
        "type": "流开关",
        "z": "1c9952406c8324a7",
        "name": "",
        "set": true,
        "flowSwitch": "on",
        "x": 1730,
        "y": 1060,
        "wires": [
            [
                "ca2e127bb0141a40",
                "68e91344d32ce9f3",
                "0751d309357bda91",
                "60b886dda2d25033",
                "314c484ee7449974",
                "905c8229261cfac9",
                "3a852179fe652cfc",
                "bc46dbdb4a76916d"
            ]
        ]
    },
    {
        "id": "e5436c6821815c73",
        "type": "link in",
        "z": "1c9952406c8324a7",
        "name": "link in 8",
        "links": [
            "6d3c25fd6d40f65b"
        ],
        "x": 1455,
        "y": 440,
        "wires": [
            [
                "82401ca3c13ea094"
            ]
        ]
    },
    {
        "id": "e161e0f1ad765afd",
        "type": "link in",
        "z": "1c9952406c8324a7",
        "name": "link in 9",
        "links": [
            "c834c165444b1bd2",
            "6d3c25fd6d40f65b"
        ],
        "x": 1615,
        "y": 1060,
        "wires": [
            [
                "f086a625642205b4"
            ]
        ]
    },
    {
        "id": "c834c165444b1bd2",
        "type": "link out",
        "z": "1c9952406c8324a7",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "e161e0f1ad765afd"
        ],
        "x": 385,
        "y": 1220,
        "wires": []
    },
    {
        "id": "47fcadb9556fddad",
        "type": "comment",
        "z": "1c9952406c8324a7",
        "name": "初始化GPIO80为低电平",
        "info": "",
        "x": 320,
        "y": 320,
        "wires": []
    },
    {
        "id": "47dbaacc5d179f1a",
        "type": "comment",
        "z": "1c9952406c8324a7",
        "name": "TEL0118烧录",
        "info": "",
        "x": 290,
        "y": 440,
        "wires": []
    },
    {
        "id": "3e399369a072069f",
        "type": "comment",
        "z": "1c9952406c8324a7",
        "name": "TEL0118测试-WIFI",
        "info": "",
        "x": 310,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9967564a13472430",
        "type": "comment",
        "z": "1c9952406c8324a7",
        "name": "GPIO80对多个TEL0118设备短接到地，可能引脚电压不为0，而会相应的升高，导致进入boot失败",
        "info": "",
        "x": 550,
        "y": 900,
        "wires": []
    },
    {
        "id": "335fe99cc0d42bbc",
        "type": "comment",
        "z": "1c9952406c8324a7",
        "name": "解决方案1：量产机引出8个GPIO(需微调例程)",
        "info": "",
        "x": 390,
        "y": 940,
        "wires": []
    },
    {
        "id": "c6ee37692c441e23",
        "type": "comment",
        "z": "1c9952406c8324a7",
        "name": "解决方案2：引出GPIO80，做工装连接多个TEL0118，使得GPIO输出高低电平正常",
        "info": "",
        "x": 890,
        "y": 940,
        "wires": []
    },
    {
        "id": "1013dcb5c816b0e6",
        "type": "comment",
        "z": "1c9952406c8324a7",
        "name": "TEL0118烧录+测试例程：1、将GPIO80连接到TEL0118设备的boot；    2、然后TEL0118集体上电；    3、按量产机上的KeyA按钮进行烧录；    4、烧录完成后，点击KeyB进行WIFI测试",
        "info": "",
        "x": 840,
        "y": 240,
        "wires": []
    }
]