examples/common/GPIO IN/gpio_in.json
[
    {
        "id": "de05e35bee8011b9",
        "type": "GPIO In",
        "z": "2f9a0e8e53bd946e",
        "name": "GPIO In",
        "mode": "pullDown",
        "rules": [
            {
                "pin": "80"
            },
            {
                "pin": "79"
            },
            {
                "pin": "76"
            }
        ],
        "outputs": 3,
        "x": 500,
        "y": 540,
        "wires": [
            [
                "3b88c432996acd80"
            ],
            [
                "b59808982999950c"
            ],
            [
                "f26521ba9b76281c"
            ]
        ]
    },
    {
        "id": "ef8eee544695cd59",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "de05e35bee8011b9"
            ]
        ]
    },
    {
        "id": "3b88c432996acd80",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "GPIO的80引脚电平",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "b59808982999950c",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "GPIO的79引脚电平",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "f26521ba9b76281c",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "GPIO的76引脚电平",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "d56b99fb1b149a2a",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "采集GPIO引脚的高低电平",
        "info": "",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "dd424b4bfe2048d8",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "随机的输入触发，此处可设置循环采集",
        "info": "",
        "x": 330,
        "y": 600,
        "wires": []
    }
]