examples/common/GPIO OUT/gpio_out.json
[
    {
        "id": "c756a19c698b12a1",
        "type": "GPIO Out",
        "z": "2f9a0e8e53bd946e",
        "name": "GPIO Out",
        "pin": "80",
        "set": false,
        "level": "0",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "97786b9d56bade7d",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "c756a19c698b12a1"
            ]
        ]
    },
    {
        "id": "054b98b45ddacf23",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "c756a19c698b12a1"
            ]
        ]
    },
    {
        "id": "e09cae04169981e5",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "数字0/1",
        "info": "",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "0e1244fe4c03df19",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "文本0/1",
        "info": "",
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "3d0c681ac8a642b3",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "c756a19c698b12a1"
            ]
        ]
    },
    {
        "id": "f6b3cbd64d7c5aad",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "布尔值true/false",
        "info": "",
        "x": 320,
        "y": 500,
        "wires": []
    },
    {
        "id": "4a3b4158a8d62060",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "指定GPIO引脚输出高低电平",
        "info": "",
        "x": 640,
        "y": 360,
        "wires": []
    }
]