examples/ESP32 Burn/esp32c3/1-esp32c3-Burn.json
[
    {
        "id": "aed00647a2d674c1",
        "type": "ESP32 Burn",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "chip": "esp32c3",
        "firmware": "/root/NodeRED-Computer-PartHardware/Executable-Script/Block-Burn/ESP32_Firmware/esp32c3/esp32c3-Blink.bin",
        "x": 600,
        "y": 440,
        "wires": [
            [
                "f9b9cb215e5f9835"
            ]
        ]
    },
    {
        "id": "165abd9a70186d17",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "烧录所有插入的esp32c3设备",
        "info": "",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "756735c610609e7a",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "拔出/dev/ttyACMx设备",
        "info": "",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "9e5aa364ae6fe4f4",
        "type": "Dev Event",
        "z": "2cc6b8578366bc4d",
        "name": "事件监听 - 移除设备",
        "set": true,
        "action": "remove",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "299ea482ffbc4e7c"
            ]
        ]
    },
    {
        "id": "f9b9cb215e5f9835",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 2：数据流详情",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "299ea482ffbc4e7c",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 1：数据流详情",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "d63ff06d2664692a",
        "type": "Special Event",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "action": "add",
        "devName": "",
        "SpecialEvents": "esp32c3_shakeHands",
        "oldrc": false,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "aed00647a2d674c1"
            ]
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "095b48fec58bd6a9",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "esp32c3烧录",
        "info": "",
        "x": 390,
        "y": 240,
        "wires": []
    }
]