examples/ESP32 Burn/esp32c3/2-esp32c3-Burn-lcd-Version.json
[
    {
        "id": "165abd9a70186d17",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "烧录所有插入的esp32c3设备",
        "info": "",
        "x": 300,
        "y": 580,
        "wires": []
    },
    {
        "id": "756735c610609e7a",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "拔出/dev/ttyACMx设备后烧录界面的颜色恢复为白色",
        "info": "",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "ffe363fe24b2ebd2",
        "type": "switch",
        "z": "2cc6b8578366bc4d",
        "name": "粉筛设备",
        "property": "payload.devName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/dev/ttyACM0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 1240,
        "y": 600,
        "wires": [
            [
                "9761cb50378504f3"
            ],
            [
                "b2f9da06ce905906"
            ],
            [
                "476752d5e56e3a07"
            ],
            [
                "dde2aea090cdf5cf"
            ],
            [
                "8b19add3fd98576d"
            ],
            [
                "a57a72c1e6a4a280"
            ],
            [
                "364f4800800480dd"
            ],
            [
                "90f35656d8d06db6"
            ],
            [
                "3551766af3f404b1"
            ],
            [
                "efb690448fea4e56"
            ]
        ]
    },
    {
        "id": "2eaa9c6ea7d1bdba",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "烧录结果计数",
        "info": "",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "bdedf060736dfd27",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "设备0-设备9的LCD屏幕中的图像绘制",
        "info": "",
        "x": 1440,
        "y": 240,
        "wires": []
    },
    {
        "id": "9e5aa364ae6fe4f4",
        "type": "Dev Event",
        "z": "2cc6b8578366bc4d",
        "name": "事件监听 - 移除设备",
        "set": true,
        "action": "remove",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "16593fabbe516925",
                "299ea482ffbc4e7c"
            ]
        ]
    },
    {
        "id": "b33a91995126dc6e",
        "type": "switch",
        "z": "2cc6b8578366bc4d",
        "name": "烧录结果",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Burning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 640,
        "y": 620,
        "wires": [
            [
                "3b11ed4193449b87"
            ],
            [
                "dfd4e340ac27bd37",
                "4cd767264a5be547"
            ],
            [
                "ef8e572c3dfcb8b4",
                "33081699c1c19d4e"
            ]
        ]
    },
    {
        "id": "dfd4e340ac27bd37",
        "type": "Flow Count",
        "z": "2cc6b8578366bc4d",
        "name": "烧录成功计数",
        "set": true,
        "num_Init": "0",
        "x": 880,
        "y": 760,
        "wires": [
            [
                "5ad11d33e45eeed1"
            ]
        ]
    },
    {
        "id": "ef8e572c3dfcb8b4",
        "type": "Flow Count",
        "z": "2cc6b8578366bc4d",
        "name": "烧录失败计数",
        "set": true,
        "num_Init": 0,
        "x": 880,
        "y": 820,
        "wires": [
            [
                "0786af277a13630e"
            ]
        ]
    },
    {
        "id": "f9b9cb215e5f9835",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 2：数据流详情",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 720,
        "wires": []
    },
    {
        "id": "299ea482ffbc4e7c",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 1：数据流详情",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "d63ff06d2664692a",
        "type": "Special Event",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "action": "add",
        "devName": "",
        "SpecialEvents": "esp32c3_shakeHands",
        "oldrc": false,
        "x": 250,
        "y": 620,
        "wires": [
            [
                "5b0fae2403986c81"
            ]
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "9761cb50378504f3",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "0",
        "coord_y": "30",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 540,
        "wires": []
    },
    {
        "id": "73aebc848492ed1d",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备1",
        "coord_x": "90",
        "coord_y": "0",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 420,
        "wires": []
    },
    {
        "id": "63dc3046557e3ed5",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备2",
        "coord_x": "180",
        "coord_y": "0",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 460,
        "wires": []
    },
    {
        "id": "fe2004742f4b3a43",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备3",
        "coord_x": "270",
        "coord_y": "0",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 500,
        "wires": []
    },
    {
        "id": "124561e0a02fd196",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备0",
        "coord_x": "0",
        "coord_y": "0",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 380,
        "wires": []
    },
    {
        "id": "3bb0be2b22f317fd",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备4",
        "coord_x": "360",
        "coord_y": "0",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 540,
        "wires": []
    },
    {
        "id": "496a4970b374298e",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备6",
        "coord_x": "90",
        "coord_y": "100",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 640,
        "wires": []
    },
    {
        "id": "e0fec5ea1690acac",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备7",
        "coord_x": "180",
        "coord_y": "100",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 680,
        "wires": []
    },
    {
        "id": "a5794a31c2dc975e",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备8",
        "coord_x": "270",
        "coord_y": "100",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 720,
        "wires": []
    },
    {
        "id": "2d62128b67503c8e",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备5",
        "coord_x": "0",
        "coord_y": "100",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 600,
        "wires": []
    },
    {
        "id": "f968ea8bac1220a4",
        "type": "text",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "text_content": "设备9",
        "coord_x": "360",
        "coord_y": "100",
        "font_size": "24",
        "custom_size": "",
        "font_color": "#000000",
        "custom_color": "",
        "priority": "7",
        "set": "",
        "x": 1620,
        "y": 760,
        "wires": []
    },
    {
        "id": "0ed35b9a5a3dd392",
        "type": "inject",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1380,
        "y": 320,
        "wires": [
            [
                "124561e0a02fd196",
                "73aebc848492ed1d",
                "63dc3046557e3ed5",
                "fe2004742f4b3a43",
                "3bb0be2b22f317fd",
                "2d62128b67503c8e",
                "496a4970b374298e",
                "e0fec5ea1690acac",
                "a5794a31c2dc975e",
                "f968ea8bac1220a4",
                "9761cb50378504f3",
                "b2f9da06ce905906",
                "476752d5e56e3a07",
                "dde2aea090cdf5cf",
                "8b19add3fd98576d",
                "a57a72c1e6a4a280",
                "364f4800800480dd",
                "90f35656d8d06db6",
                "3551766af3f404b1",
                "efb690448fea4e56"
            ]
        ]
    },
    {
        "id": "4cd767264a5be547",
        "type": "更改属性",
        "z": "2cc6b8578366bc4d",
        "name": "重新渲染矩形：绿色（烧录成功）",
        "graphic_options": "rect",
        "background_color": "#00FF00",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#00FF00",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 940,
        "y": 620,
        "wires": [
            [
                "ffe363fe24b2ebd2"
            ]
        ]
    },
    {
        "id": "33081699c1c19d4e",
        "type": "更改属性",
        "z": "2cc6b8578366bc4d",
        "name": "重新渲染矩形：红色（烧录失败）",
        "graphic_options": "rect",
        "background_color": "#FFFFFF",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#FF0000",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 940,
        "y": 660,
        "wires": [
            [
                "ffe363fe24b2ebd2"
            ]
        ]
    },
    {
        "id": "3b11ed4193449b87",
        "type": "更改属性",
        "z": "2cc6b8578366bc4d",
        "name": "重新渲染矩形：青色（烧录中...）",
        "graphic_options": "rect",
        "background_color": "#FFFFFF",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#00FFFF",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 940,
        "y": 580,
        "wires": [
            [
                "ffe363fe24b2ebd2"
            ]
        ]
    },
    {
        "id": "16593fabbe516925",
        "type": "更改属性",
        "z": "2cc6b8578366bc4d",
        "name": "重新渲染矩形：白色（拔出设备）",
        "graphic_options": "rect",
        "background_color": "#FFFFFF",
        "line_color": "#000000",
        "rect_border_color": "#000000",
        "rect_fill_color": "#FFFFFF",
        "circle_border_color": "#000000",
        "circle_fill_color": "#FFFFFF",
        "text_color": "#000000",
        "x": 940,
        "y": 520,
        "wires": [
            [
                "ffe363fe24b2ebd2"
            ]
        ]
    },
    {
        "id": "79502ca26c18bfc5",
        "type": "background",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "background_color": "#FFFFFF",
        "custom_color": "",
        "priority": "5",
        "set": true,
        "x": 1660,
        "y": 320,
        "wires": []
    },
    {
        "id": "b2f9da06ce905906",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "90",
        "coord_y": "30",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 580,
        "wires": []
    },
    {
        "id": "476752d5e56e3a07",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "180",
        "coord_y": "30",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 620,
        "wires": []
    },
    {
        "id": "dde2aea090cdf5cf",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "270",
        "coord_y": "30",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 660,
        "wires": []
    },
    {
        "id": "8b19add3fd98576d",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "360",
        "coord_y": "30",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 700,
        "wires": []
    },
    {
        "id": "a57a72c1e6a4a280",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "0",
        "coord_y": "130",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 760,
        "wires": []
    },
    {
        "id": "364f4800800480dd",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "90",
        "coord_y": "130",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 800,
        "wires": []
    },
    {
        "id": "90f35656d8d06db6",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "180",
        "coord_y": "130",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 840,
        "wires": []
    },
    {
        "id": "3551766af3f404b1",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "270",
        "coord_y": "130",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 880,
        "wires": []
    },
    {
        "id": "efb690448fea4e56",
        "type": "rectangle",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "coord_x": "360",
        "coord_y": "130",
        "width": "50",
        "height": "50",
        "line_width": "2",
        "border_radius": "5",
        "fill_color": "#FFFFFF",
        "border_color": "#000000",
        "custom_color1": "",
        "custom_color2": "",
        "priority": "6",
        "set": true,
        "x": 1480,
        "y": 920,
        "wires": []
    },
    {
        "id": "5ad11d33e45eeed1",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 94",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1120,
        "y": 760,
        "wires": []
    },
    {
        "id": "0786af277a13630e",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 95",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1120,
        "y": 820,
        "wires": []
    },
    {
        "id": "9c567285353c6009",
        "type": "inject",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1380,
        "y": 280,
        "wires": [
            [
                "79502ca26c18bfc5"
            ]
        ]
    },
    {
        "id": "a971011dce7c0987",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "esp32c3烧录",
        "info": "",
        "x": 250,
        "y": 400,
        "wires": []
    },
    {
        "id": "5b0fae2403986c81",
        "type": "ESP32 Burn",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "chip": "esp32c3",
        "firmware": "/root/NodeRED-Computer-PartHardware/Executable-Script/Block-Burn/ESP32_Firmware/esp32c3/esp32c3-Blink.bin",
        "x": 440,
        "y": 620,
        "wires": [
            [
                "b33a91995126dc6e",
                "f9b9cb215e5f9835"
            ]
        ]
    }
]