examples/Gateway/1-gateway_burn.json
[
    {
        "id": "c75f207f54776cdc",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "765caa5a430706ea"
            ]
        ]
    },
    {
        "id": "f2d78fbd85a7e53e",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "e5f1079364a7fde8",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "765caa5a430706ea",
        "type": "RockchipBurn",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "chip": "RK3308K",
        "firmware": "/root/NodeRED-Computer-PartHardware/python-Script/RockChip_Firmware/dfrobot_lorawanos_rk3308_k510.img",
        "x": 710,
        "y": 440,
        "wires": [
            [
                "f2d78fbd85a7e53e"
            ],
            [
                "e5f1079364a7fde8",
                "eca018cb246eb5c4"
            ],
            [
                "1c18c9e16f752473"
            ]
        ]
    },
    {
        "id": "1c18c9e16f752473",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "046e09e692135e85",
        "type": "trigger",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-8",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "reset",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 640,
        "wires": [
            [
                "894aa96935839f9b",
                "f28f72b0fe26707a"
            ]
        ]
    },
    {
        "id": "894aa96935839f9b",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 720,
        "wires": []
    },
    {
        "id": "0af4f2c63ce35a25",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1200,
        "y": 560,
        "wires": []
    },
    {
        "id": "5b277b4ad48f36ea",
        "type": "link in",
        "z": "2f9a0e8e53bd946e",
        "name": "link in 1",
        "links": [
            "2256f4dc7b1726c6",
            "8ff1c7c6c24a61be"
        ],
        "x": 505,
        "y": 620,
        "wires": [
            [
                "046e09e692135e85"
            ]
        ]
    },
    {
        "id": "eca018cb246eb5c4",
        "type": "link out",
        "z": "2f9a0e8e53bd946e",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "367966d8d8e58eae"
        ],
        "x": 925,
        "y": 440,
        "wires": []
    },
    {
        "id": "367966d8d8e58eae",
        "type": "link in",
        "z": "2f9a0e8e53bd946e",
        "name": "link in 2",
        "links": [
            "eca018cb246eb5c4"
        ],
        "x": 435,
        "y": 640,
        "wires": [
            [
                "046e09e692135e85"
            ]
        ]
    },
    {
        "id": "11ceb76b28db0165",
        "type": "switch",
        "z": "2f9a0e8e53bd946e",
        "name": "筛选msg.payload含有键sn",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "sn",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1180,
        "y": 740,
        "wires": [
            [
                "4793010270438fb5"
            ]
        ]
    },
    {
        "id": "4793010270438fb5",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "设定msg.payload = reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 740,
        "wires": [
            [
                "8ff1c7c6c24a61be"
            ]
        ]
    },
    {
        "id": "8ff1c7c6c24a61be",
        "type": "link out",
        "z": "2f9a0e8e53bd946e",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "5b277b4ad48f36ea"
        ],
        "x": 1585,
        "y": 740,
        "wires": []
    },
    {
        "id": "50308ff8b73e6472",
        "type": "Burn OTP",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "region": "868",
        "version": "1.0",
        "x": 1200,
        "y": 640,
        "wires": [
            [
                "bbfeb717b39fca00"
            ]
        ]
    },
    {
        "id": "bbfeb717b39fca00",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1420,
        "y": 640,
        "wires": []
    },
    {
        "id": "744a4dfd1b816ca5",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "网关烧录例程",
        "info": "",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "f953db59888f04b0",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "网关进入MaskRom模式：先按住BOOT后按RST，然后先松开RST再松开BOOT",
        "info": "",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "b70c2df8f97e093a",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "网关固件烧录成功后，等待网关启动，此时循环发送获取SN的请求，直至获取成功后中止",
        "info": "",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "f28f72b0fe26707a",
        "type": "GW SN",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "x": 900,
        "y": 640,
        "wires": [
            [
                "0af4f2c63ce35a25",
                "50308ff8b73e6472",
                "11ceb76b28db0165"
            ]
        ]
    }
]