examples/ESP32 Burn/esp32c6/1-esp32c6-Burn.json
[
    {
        "id": "aed00647a2d674c1",
        "type": "ESP32 Burn",
        "z": "4701b8940aeb2fea",
        "name": "",
        "chip": "esp32c6",
        "firmware": "/root/NodeRED-Computer-PartHardware/Executable-Script/Block-Burn/ESP32_Firmware/esp32c6/esp32c6-blink.bin",
        "x": 740,
        "y": 720,
        "wires": [
            [
                "f9b9cb215e5f9835"
            ]
        ]
    },
    {
        "id": "165abd9a70186d17",
        "type": "comment",
        "z": "4701b8940aeb2fea",
        "name": "烧录所有插入的esp32c6设备",
        "info": "",
        "x": 580,
        "y": 680,
        "wires": []
    },
    {
        "id": "756735c610609e7a",
        "type": "comment",
        "z": "4701b8940aeb2fea",
        "name": "拔出/dev/ttyACMx设备",
        "info": "",
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "9e5aa364ae6fe4f4",
        "type": "Dev Event",
        "z": "4701b8940aeb2fea",
        "name": "事件监听 - 移除设备",
        "set": true,
        "action": "remove",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 550,
        "y": 620,
        "wires": [
            [
                "299ea482ffbc4e7c"
            ]
        ]
    },
    {
        "id": "f9b9cb215e5f9835",
        "type": "debug",
        "z": "4701b8940aeb2fea",
        "name": "debug 2：数据流详情",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 720,
        "wires": []
    },
    {
        "id": "299ea482ffbc4e7c",
        "type": "debug",
        "z": "4701b8940aeb2fea",
        "name": "debug 1：数据流详情",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 820,
        "y": 620,
        "wires": []
    },
    {
        "id": "d63ff06d2664692a",
        "type": "Special Event",
        "z": "4701b8940aeb2fea",
        "name": "",
        "action": "add",
        "devName": "",
        "SpecialEvents": "esp32c6_shakeHands",
        "oldrc": false,
        "x": 530,
        "y": 720,
        "wires": [
            [
                "aed00647a2d674c1"
            ]
        ],
        "icon": "node-red/cog.svg"
    }
]