examples/ESP32 Burn/1-ESP32Burn.json
[
    {
        "id": "66e98295190e8047",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "/dev/ttyACM7",
        "setIOin": "",
        "edge": "none",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "6abd2487b3b3deba"
            ]
        ]
    },
    {
        "id": "6abd2487b3b3deba",
        "type": "ESP32 Burn",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "chip": "esp32c6",
        "firmware": "/root/NodeRED-Computer-PartHardware/python-Script/ESP32_Firmware/esp32c6-blink.bin",
        "x": 580,
        "y": 220,
        "wires": [
            [
                "9772fce37fedbdca"
            ],
            [
                "6f10caa6e48e3987"
            ]
        ]
    },
    {
        "id": "9772fce37fedbdca",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "正在烧录中的设备信息",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f10caa6e48e3987",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录结果汇总",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "154c192df5cfce14",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录指定设备，如/dev/ttyACM0",
        "info": "",
        "x": 390,
        "y": 160,
        "wires": []
    }
]