examples/ESP32 Burn/1-ESP32Burn.json
[
    {
        "id": "66e98295190e8047",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "/dev/ttyACM0",
        "setIOin": "",
        "edge": "none",
        "x": 500,
        "y": 1080,
        "wires": [
            [
                "6abd2487b3b3deba"
            ]
        ]
    },
    {
        "id": "6abd2487b3b3deba",
        "type": "ESP32 Burn",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "chip": "esp32c6",
        "firmware": "/root/NodeRED-Computer-PartHardware/python-Script/ESP32_Firmware/esp32c6-blink.bin",
        "x": 740,
        "y": 1080,
        "wires": [
            [
                "9772fce37fedbdca"
            ]
        ]
    },
    {
        "id": "9772fce37fedbdca",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "设备的烧录信息",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1020,
        "y": 1080,
        "wires": []
    },
    {
        "id": "154c192df5cfce14",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录指定设备，如/dev/ttyACM0",
        "info": "",
        "x": 550,
        "y": 1020,
        "wires": []
    }
]