examples/ESP32 Burn/2-ESP32Burn.json
[
    {
        "id": "ccae8e36d2047f8c",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "3906ffe5b3c20291"
            ]
        ]
    },
    {
        "id": "3906ffe5b3c20291",
        "type": "ESP32 Burn",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "chip": "esp32c6",
        "firmware": "/root/NodeRED-Computer-PartHardware/python-Script/ESP32_Firmware/esp32c6-blink.bin",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "99c5a3280ce75050"
            ],
            [
                "f3cabeeb32284f9d"
            ]
        ]
    },
    {
        "id": "99c5a3280ce75050",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "正在烧录中的设备信息",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "f3cabeeb32284f9d",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录结果汇总",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "13fa03a079d0cb22",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "对所有插入的设备进行烧录",
        "info": "",
        "x": 370,
        "y": 400,
        "wires": []
    }
]