examples/ESP32 Burn/2-ESP32Burn.json
[
    {
        "id": "ccae8e36d2047f8c",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "3906ffe5b3c20291"
            ]
        ]
    },
    {
        "id": "3906ffe5b3c20291",
        "type": "ESP32 Burn",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "chip": "esp32c6",
        "firmware": "/root/NodeRED-Computer-PartHardware/python-Script/ESP32_Firmware/esp32c6-blink.bin",
        "x": 760,
        "y": 1240,
        "wires": [
            [
                "99c5a3280ce75050"
            ]
        ]
    },
    {
        "id": "99c5a3280ce75050",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "设备的烧录信息",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1020,
        "y": 1240,
        "wires": []
    },
    {
        "id": "13fa03a079d0cb22",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "对所有插入的设备进行烧录",
        "info": "",
        "x": 550,
        "y": 1180,
        "wires": []
    }
]