examples/ESP32 Burn/3-ESP32Burn-8devicesBurn.json
[
    {
        "id": "cecbd44472c07c84",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "事件监听 - 插入设备",
        "set": true,
        "action": "add",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "325c91b469b61c99"
            ]
        ]
    },
    {
        "id": "325c91b469b61c99",
        "type": "ESP32 Burn",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "chip": "esp32c6",
        "firmware": "/root/NodeRED-Computer-PartHardware/python-Script/ESP32_Firmware/esp32c6-blink.bin",
        "x": 480,
        "y": 560,
        "wires": [
            [
                "413fcb19b2d6b99b",
                "9302d0d5522e37a4"
            ]
        ]
    },
    {
        "id": "12736726df95e17b",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录所有插入的/dev/ttyACMx设备",
        "info": "",
        "x": 330,
        "y": 520,
        "wires": []
    },
    {
        "id": "9f55597fbd8e382b",
        "type": "ui_template",
        "z": "2f9a0e8e53bd946e",
        "group": "e30c0c240b47fb36",
        "name": "/dev/ttyACM0设备",
        "order": 1,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.backgroundColor, 'color': 'white'}\">{{msg.payload.label}}</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4445bd526d406b05",
        "type": "ui_template",
        "z": "2f9a0e8e53bd946e",
        "group": "e30c0c240b47fb36",
        "name": "/dev/ttyACM1设备",
        "order": 2,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.backgroundColor, 'color': 'white'}\">{{msg.payload.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2cb1ebf1a694f768",
        "type": "ui_template",
        "z": "2f9a0e8e53bd946e",
        "group": "e30c0c240b47fb36",
        "name": "/dev/ttyACM2设备",
        "order": 3,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.backgroundColor, 'color': 'white'}\">{{msg.payload.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b5a611748fe9030e",
        "type": "ui_template",
        "z": "2f9a0e8e53bd946e",
        "group": "e30c0c240b47fb36",
        "name": "/dev/ttyACM3设备",
        "order": 4,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.backgroundColor, 'color': 'white'}\">{{msg.payload.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d082b84366e35972",
        "type": "ui_template",
        "z": "2f9a0e8e53bd946e",
        "group": "e30c0c240b47fb36",
        "name": "/dev/ttyACM4设备",
        "order": 5,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.backgroundColor, 'color': 'white'}\">{{msg.payload.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "bd02204243146f9e",
        "type": "ui_template",
        "z": "2f9a0e8e53bd946e",
        "group": "e30c0c240b47fb36",
        "name": "/dev/ttyACM5设备",
        "order": 6,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.backgroundColor, 'color': 'white'}\">{{msg.payload.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c5f547a14fa9a2e7",
        "type": "ui_template",
        "z": "2f9a0e8e53bd946e",
        "group": "e30c0c240b47fb36",
        "name": "/dev/ttyACM6设备",
        "order": 7,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.backgroundColor, 'color': 'white'}\">{{msg.payload.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "abcf75bf1b7113cc",
        "type": "ui_template",
        "z": "2f9a0e8e53bd946e",
        "group": "e30c0c240b47fb36",
        "name": "/dev/ttyACM7设备",
        "order": 8,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.backgroundColor, 'color': 'white'}\">{{msg.payload.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "db06bb24b90a0512",
        "type": "ui_numeric",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "label": "烧录失败的次数",
        "tooltip": "",
        "group": "e30c0c240b47fb36",
        "order": 10,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "step": 1,
        "className": "",
        "x": 1200,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0cd35b4ff32359b9",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "拔出/dev/ttyACMx设备后烧录界面的颜色恢复为紫色",
        "info": "",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "34a2efac3939fe3c",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "还原默认颜色",
        "rules": [
            {
                "t": "set",
                "p": "payload.backgroundColor",
                "pt": "msg",
                "to": "#ae81ff",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "92e37627dec64dbf",
                "aa2a94014c9850f2"
            ]
        ]
    },
    {
        "id": "35f767b9b94a951a",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "部署后，UI显示默认设置",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "{\"backgroundColor\":\"#ae81ff\",\"label\":\"\"}",
        "payloadType": "json",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "9f55597fbd8e382b",
                "4445bd526d406b05",
                "2cb1ebf1a694f768",
                "b5a611748fe9030e",
                "d082b84366e35972",
                "bd02204243146f9e",
                "c5f547a14fa9a2e7",
                "abcf75bf1b7113cc"
            ]
        ]
    },
    {
        "id": "92e37627dec64dbf",
        "type": "switch",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "property": "payload.devName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/dev/ttyACM0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 910,
        "y": 520,
        "wires": [
            [
                "9f55597fbd8e382b"
            ],
            [
                "4445bd526d406b05"
            ],
            [
                "2cb1ebf1a694f768"
            ],
            [
                "b5a611748fe9030e"
            ],
            [
                "d082b84366e35972"
            ],
            [
                "bd02204243146f9e"
            ],
            [
                "c5f547a14fa9a2e7"
            ],
            [
                "abcf75bf1b7113cc"
            ]
        ]
    },
    {
        "id": "a24710c5946160d5",
        "type": "ui_numeric",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "label": "烧录成功的次数",
        "tooltip": "",
        "group": "e30c0c240b47fb36",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "step": 1,
        "className": "",
        "x": 1200,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e1cabb1bd11b960e",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录结果计数",
        "info": "",
        "x": 930,
        "y": 700,
        "wires": []
    },
    {
        "id": "80951e020b217e26",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "部署后，还原烧录界面",
        "info": "",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "be70dfc8864fc982",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "事件监听 - 移除设备",
        "set": true,
        "action": "remove",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "34a2efac3939fe3c"
            ]
        ]
    },
    {
        "id": "413fcb19b2d6b99b",
        "type": "switch",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录结果",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Burning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 660,
        "y": 560,
        "wires": [
            [
                "92e37627dec64dbf"
            ],
            [
                "92e37627dec64dbf",
                "3750d95cdc0d8731"
            ],
            [
                "92e37627dec64dbf",
                "c8a5232006504209"
            ]
        ]
    },
    {
        "id": "3750d95cdc0d8731",
        "type": "Flow Count",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录成功计数",
        "set": true,
        "num_Init": "0",
        "x": 940,
        "y": 740,
        "wires": [
            [
                "a24710c5946160d5"
            ]
        ]
    },
    {
        "id": "c8a5232006504209",
        "type": "Flow Count",
        "z": "2f9a0e8e53bd946e",
        "name": "烧录失败计数",
        "set": true,
        "num_Init": 0,
        "x": 940,
        "y": 800,
        "wires": [
            [
                "db06bb24b90a0512"
            ]
        ]
    },
    {
        "id": "9302d0d5522e37a4",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 2：数据流详情",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 660,
        "wires": []
    },
    {
        "id": "aa2a94014c9850f2",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 1：数据流详情",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 400,
        "wires": []
    },
    {
        "id": "e30c0c240b47fb36",
        "type": "ui_group",
        "name": "group",
        "tab": "60ceb47b8a6ecc19",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60ceb47b8a6ecc19",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]