examples/ESP32 Burn/3-ESP32Burn-8devicesBurn.json
[
    {
        "id": "c27d9a7e40a04acd",
        "type": "Dev Event",
        "z": "94cd2bf5fa873c6f",
        "name": "事件监听 - 插入设备",
        "set": true,
        "action": "add",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "9691f8e607945071"
            ]
        ]
    },
    {
        "id": "9691f8e607945071",
        "type": "ESP32 Burn",
        "z": "94cd2bf5fa873c6f",
        "name": "",
        "chip": "esp32c6",
        "firmware": "/root/NodeRED-Computer-PartHardware/python-Script/ESP32_Firmware/esp32c6-blink.bin",
        "x": 720,
        "y": 800,
        "wires": [
            [
                "4bd642b3bb362b02"
            ],
            [
                "4bd642b3bb362b02"
            ]
        ]
    },
    {
        "id": "fe2aaa780188df77",
        "type": "comment",
        "z": "94cd2bf5fa873c6f",
        "name": "烧录所有插入的/dev/ttyACMx设备",
        "info": "",
        "x": 570,
        "y": 760,
        "wires": []
    },
    {
        "id": "03c98c403b5dc6e6",
        "type": "ui_template",
        "z": "94cd2bf5fa873c6f",
        "group": "e30c0c240b47fb36",
        "name": "",
        "order": 1,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.btnProperties.background, 'color': 'white'}\">{{msg.payload.devName}}{{msg.payload.btnProperties.label}}</button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "5443e9f9032fc455",
        "type": "change",
        "z": "94cd2bf5fa873c6f",
        "name": "烧录中......",
        "rules": [
            {
                "t": "set",
                "p": "payload.btnProperties",
                "pt": "msg",
                "to": "{\"background\":\"#35c1f4\",\"label\":\"设备烧录中...\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 760,
        "wires": [
            [
                "9891377887377673"
            ]
        ]
    },
    {
        "id": "7bd408467a05efba",
        "type": "change",
        "z": "94cd2bf5fa873c6f",
        "name": "烧录成功",
        "rules": [
            {
                "t": "set",
                "p": "payload.btnProperties",
                "pt": "msg",
                "to": "{\"background\":\"#15d36a\",\"label\":\"设备烧录成功\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 800,
        "wires": [
            [
                "9891377887377673",
                "06b610eaa4f1b98c"
            ]
        ]
    },
    {
        "id": "e8b7f3ee4d08834a",
        "type": "change",
        "z": "94cd2bf5fa873c6f",
        "name": "烧录失败",
        "rules": [
            {
                "t": "set",
                "p": "payload.btnProperties",
                "pt": "msg",
                "to": "{\"background\":\"#c62f37\",\"label\":\"设备烧录失败\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 840,
        "wires": [
            [
                "9891377887377673",
                "37975bcff324d33e"
            ]
        ]
    },
    {
        "id": "5dab1467c012129d",
        "type": "ui_template",
        "z": "94cd2bf5fa873c6f",
        "group": "e30c0c240b47fb36",
        "name": "",
        "order": 2,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.btnProperties.background, 'color': 'white'}\">{{msg.payload.devName}}{{msg.payload.btnProperties.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "b78c44b1a466b582",
        "type": "ui_template",
        "z": "94cd2bf5fa873c6f",
        "group": "e30c0c240b47fb36",
        "name": "",
        "order": 3,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.btnProperties.background, 'color': 'white'}\">{{msg.payload.devName}}{{msg.payload.btnProperties.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "63975f3bb3ac4451",
        "type": "ui_template",
        "z": "94cd2bf5fa873c6f",
        "group": "e30c0c240b47fb36",
        "name": "",
        "order": 4,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.btnProperties.background, 'color': 'white'}\">{{msg.payload.devName}}{{msg.payload.btnProperties.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "9c9bad9c49a3a2f9",
        "type": "ui_template",
        "z": "94cd2bf5fa873c6f",
        "group": "e30c0c240b47fb36",
        "name": "",
        "order": 5,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.btnProperties.background, 'color': 'white'}\">{{msg.payload.devName}}{{msg.payload.btnProperties.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b0a17ec8f56fc441",
        "type": "ui_template",
        "z": "94cd2bf5fa873c6f",
        "group": "e30c0c240b47fb36",
        "name": "",
        "order": 6,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.btnProperties.background, 'color': 'white'}\">{{msg.payload.devName}}{{msg.payload.btnProperties.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "10b426ae03db38a8",
        "type": "ui_template",
        "z": "94cd2bf5fa873c6f",
        "group": "e30c0c240b47fb36",
        "name": "",
        "order": 7,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.btnProperties.background, 'color': 'white'}\">{{msg.payload.devName}}{{msg.payload.btnProperties.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "3da655ff68089363",
        "type": "ui_template",
        "z": "94cd2bf5fa873c6f",
        "group": "e30c0c240b47fb36",
        "name": "",
        "order": 8,
        "width": "5",
        "height": "1",
        "format": "<button style=\"width: 225px; height: 50px; background-color: #ae81ff; color: white;\" ng-style=\"{'background-color': msg.payload.btnProperties.background, 'color': 'white'}\">{{msg.payload.devName}}{{msg.payload.btnProperties.label}}</button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e4ccd795362dacfd",
        "type": "ui_numeric",
        "z": "94cd2bf5fa873c6f",
        "name": "",
        "label": "烧录失败的次数",
        "tooltip": "",
        "group": "e30c0c240b47fb36",
        "order": 10,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 1920,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "b1e864575e724426",
        "type": "comment",
        "z": "94cd2bf5fa873c6f",
        "name": "拔出/dev/ttyACMx设备后烧录界面的颜色恢复为紫色",
        "info": "",
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "91b6348fecda1582",
        "type": "change",
        "z": "94cd2bf5fa873c6f",
        "name": "还原默认颜色",
        "rules": [
            {
                "t": "set",
                "p": "payload.btnProperties",
                "pt": "msg",
                "to": "{\"background\":\"#ae81ff\",\"label\":\"\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 680,
        "wires": [
            [
                "9891377887377673"
            ]
        ]
    },
    {
        "id": "6384ce5103b5ae15",
        "type": "inject",
        "z": "94cd2bf5fa873c6f",
        "name": "部署后，UI显示默认设置",
        "props": [
            {
                "p": "payload.btnProperties",
                "v": "{\"background\":\"#ae81ff\",\"label\":\"\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "x": 1130,
        "y": 600,
        "wires": [
            [
                "03c98c403b5dc6e6",
                "5dab1467c012129d",
                "b78c44b1a466b582",
                "63975f3bb3ac4451",
                "9c9bad9c49a3a2f9",
                "b0a17ec8f56fc441",
                "10b426ae03db38a8",
                "3da655ff68089363"
            ]
        ]
    },
    {
        "id": "9891377887377673",
        "type": "switch",
        "z": "94cd2bf5fa873c6f",
        "name": "",
        "property": "payload.devName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/dev/ttyACM0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/dev/ttyACM7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 1310,
        "y": 840,
        "wires": [
            [
                "03c98c403b5dc6e6"
            ],
            [
                "5dab1467c012129d"
            ],
            [
                "b78c44b1a466b582"
            ],
            [
                "63975f3bb3ac4451"
            ],
            [
                "9c9bad9c49a3a2f9"
            ],
            [
                "b0a17ec8f56fc441"
            ],
            [
                "10b426ae03db38a8"
            ],
            [
                "3da655ff68089363"
            ]
        ]
    },
    {
        "id": "13b9150d1b564da0",
        "type": "change",
        "z": "94cd2bf5fa873c6f",
        "name": "创建全局变量计数——烧录成功",
        "rules": [
            {
                "t": "set",
                "p": "globalValue_burnSucceed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 1040,
        "wires": [
            [
                "a9b6a8fe11333b78"
            ]
        ]
    },
    {
        "id": "d3acaaea36401cb5",
        "type": "inject",
        "z": "94cd2bf5fa873c6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1320,
        "y": 1040,
        "wires": [
            [
                "13b9150d1b564da0"
            ]
        ]
    },
    {
        "id": "b17044e337503525",
        "type": "change",
        "z": "94cd2bf5fa873c6f",
        "name": "创建全局变量计数——烧录失败",
        "rules": [
            {
                "t": "set",
                "p": "globalValue_burnFailed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 1080,
        "wires": [
            [
                "e4ccd795362dacfd"
            ]
        ]
    },
    {
        "id": "d026ec2b678afb67",
        "type": "inject",
        "z": "94cd2bf5fa873c6f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1320,
        "y": 1080,
        "wires": [
            [
                "b17044e337503525"
            ]
        ]
    },
    {
        "id": "06b610eaa4f1b98c",
        "type": "change",
        "z": "94cd2bf5fa873c6f",
        "name": "烧录成功计数",
        "rules": [
            {
                "t": "set",
                "p": "globalValue_burnSucceed",
                "pt": "global",
                "to": "$globalContext(\"globalValue_burnSucceed\") + 1",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "globalValue_burnSucceed",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 1200,
        "wires": [
            [
                "a9b6a8fe11333b78"
            ]
        ]
    },
    {
        "id": "a9b6a8fe11333b78",
        "type": "ui_numeric",
        "z": "94cd2bf5fa873c6f",
        "name": "",
        "label": "烧录成功的次数",
        "tooltip": "",
        "group": "e30c0c240b47fb36",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 1920,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "37975bcff324d33e",
        "type": "change",
        "z": "94cd2bf5fa873c6f",
        "name": "烧录失败计数",
        "rules": [
            {
                "t": "set",
                "p": "globalValue_burnFailed",
                "pt": "global",
                "to": "$globalContext(\"globalValue_burnFailed\") + 1",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "globalValue_burnFailed",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 1260,
        "wires": [
            [
                "e4ccd795362dacfd"
            ]
        ]
    },
    {
        "id": "8a7f28c4b04a6596",
        "type": "comment",
        "z": "94cd2bf5fa873c6f",
        "name": "初始化全局变量 和 部署后计数清零",
        "info": "",
        "x": 1400,
        "y": 1000,
        "wires": []
    },
    {
        "id": "35d5d665217eb084",
        "type": "comment",
        "z": "94cd2bf5fa873c6f",
        "name": "烧录结果计数",
        "info": "",
        "x": 1330,
        "y": 1160,
        "wires": []
    },
    {
        "id": "5e255de610aa46d7",
        "type": "comment",
        "z": "94cd2bf5fa873c6f",
        "name": "部署后，还原烧录界面",
        "info": "",
        "x": 1120,
        "y": 560,
        "wires": []
    },
    {
        "id": "f4ce85a768d4c1ad",
        "type": "Dev Event",
        "z": "94cd2bf5fa873c6f",
        "name": "事件监听 - 移除设备",
        "set": true,
        "action": "remove",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 530,
        "y": 680,
        "wires": [
            [
                "91b6348fecda1582"
            ]
        ]
    },
    {
        "id": "4bd642b3bb362b02",
        "type": "switch",
        "z": "94cd2bf5fa873c6f",
        "name": "烧录结果",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Burning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 900,
        "y": 800,
        "wires": [
            [
                "5443e9f9032fc455"
            ],
            [
                "7bd408467a05efba"
            ],
            [
                "e8b7f3ee4d08834a"
            ]
        ]
    },
    {
        "id": "e30c0c240b47fb36",
        "type": "ui_group",
        "name": "group",
        "tab": "60ceb47b8a6ecc19",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60ceb47b8a6ecc19",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]