examples/DTU/2-ui_dtu_burn.json
[
    {
        "id": "430d4981f00db317",
        "type": "CH58x Burn",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "chip": "ch583",
        "firmware_codeflash": "/root/NodeRED-Computer-PartHardware/python-Script/CH58x_Firmware/dtu-core-0.6.0.hex",
        "firmware_dataflash": "/root/NodeRED-Computer-PartHardware/python-Script/CH58x_Firmware/dtuBoot.bin",
        "setReset": true,
        "set": true,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "c198660bb5e91d04",
                "5891082fb5eb1686",
                "c50f4f38a1afcb36"
            ]
        ]
    },
    {
        "id": "5b8765e2b34a0815",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "/dev/ch37x0",
        "setIOin": "",
        "edge": "none",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "430d4981f00db317",
                "eaf252e2b95d8068",
                "d7ffc603448441b4"
            ]
        ]
    },
    {
        "id": "af34b1d5da771c5f",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "监听设备插入：/dev/ch37x0",
        "info": "",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "c198660bb5e91d04",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "5891082fb5eb1686",
        "type": "switch",
        "z": "2f9a0e8e53bd946e",
        "name": "筛选：烧录成功的流",
        "property": "payload.result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "cc0e73c537627a06"
            ]
        ]
    },
    {
        "id": "cc0e73c537627a06",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "设定msg.payload.Switch = on",
        "rules": [
            {
                "t": "set",
                "p": "payload.Switch",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "0c6776e3831b4c53",
                "c058c51e3f96cffc"
            ]
        ]
    },
    {
        "id": "dad558ef4ce5b2fc",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "打开流开关",
        "info": "",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "0c6776e3831b4c53",
        "type": "Flow Switch",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "flowSwitch": "off",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "319488d50d3736bd"
            ]
        ]
    },
    {
        "id": "b0bb2902dfa14eb7",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "/dev/ttyACM0",
        "setIOin": "",
        "edge": "none",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "0c6776e3831b4c53",
                "4be43fc14dd76e1a"
            ]
        ]
    },
    {
        "id": "701e6667da60c8fc",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "监听设备插入：/dev/ttyACM0",
        "info": "",
        "x": 180,
        "y": 500,
        "wires": []
    },
    {
        "id": "319488d50d3736bd",
        "type": "DTU Config",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set1": true,
        "set2": true,
        "set3": true,
        "region": "EU868",
        "x": 700,
        "y": 540,
        "wires": [
            [
                "e724281f13b0a82e"
            ],
            [
                "a8c5664de31f89d8",
                "378c8b14cfb83eef"
            ],
            [
                "87fc3fd298cab11f",
                "c19aa4196322a8b1",
                "a4ffa27f4454190a"
            ]
        ]
    },
    {
        "id": "e724281f13b0a82e",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 480,
        "wires": []
    },
    {
        "id": "a8c5664de31f89d8",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 540,
        "wires": []
    },
    {
        "id": "87fc3fd298cab11f",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "c19aa4196322a8b1",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "设定msg.payload.Switch = off",
        "rules": [
            {
                "t": "set",
                "p": "payload.Switch",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 660,
        "wires": [
            [
                "0c6776e3831b4c53"
            ]
        ]
    },
    {
        "id": "a7cfc51444c89d4a",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "关闭流开关",
        "info": "",
        "x": 480,
        "y": 700,
        "wires": []
    },
    {
        "id": "4be43fc14dd76e1a",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 200,
        "y": 620,
        "wires": []
    },
    {
        "id": "eaf252e2b95d8068",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 200,
        "y": 380,
        "wires": []
    },
    {
        "id": "629e28ed68446580",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "该节点是从上到下依次进行的",
        "info": "",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "d7ffc603448441b4",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：正在烧录中...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "正在烧录中...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 180,
        "wires": [
            [
                "d3f271452739bbd7"
            ]
        ]
    },
    {
        "id": "d3f271452739bbd7",
        "type": "ui_text",
        "z": "2f9a0e8e53bd946e",
        "group": "26ef63dc7e2d627c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "烧录提示：",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 180,
        "wires": []
    },
    {
        "id": "c50f4f38a1afcb36",
        "type": "switch",
        "z": "2f9a0e8e53bd946e",
        "name": "分筛烧录结果",
        "property": "payload.result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "7cfa87b1cce98fb1"
            ],
            [
                "dea8c7d5792052c7"
            ]
        ]
    },
    {
        "id": "7cfa87b1cce98fb1",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：烧录成功",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "烧录成功",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "d3f271452739bbd7"
            ]
        ]
    },
    {
        "id": "dea8c7d5792052c7",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：烧录失败",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "烧录失败",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 260,
        "wires": [
            [
                "d3f271452739bbd7"
            ]
        ]
    },
    {
        "id": "5562e27c98051895",
        "type": "ui_text",
        "z": "2f9a0e8e53bd946e",
        "group": "26ef63dc7e2d627c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "写入校验码：",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 340,
        "wires": []
    },
    {
        "id": "79e7a239eb3f8e73",
        "type": "ui_text",
        "z": "2f9a0e8e53bd946e",
        "group": "26ef63dc7e2d627c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "写入地区参数：",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1580,
        "y": 440,
        "wires": []
    },
    {
        "id": "485ccc7f3c7380c1",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：写入成功",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "写入成功",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 540,
        "wires": [
            [
                "5562e27c98051895"
            ]
        ]
    },
    {
        "id": "189b5bd31a896787",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：写入失败",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "写入失败",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 580,
        "wires": [
            [
                "5562e27c98051895"
            ]
        ]
    },
    {
        "id": "9048b88263cc41c6",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "清空UI标签",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 420,
        "wires": [
            [
                "5562e27c98051895",
                "79e7a239eb3f8e73",
                "d3f271452739bbd7"
            ]
        ]
    },
    {
        "id": "8f787537f33a8e5a",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "remove",
        "devName": "/dev/ttyACM0",
        "setIOin": "",
        "edge": "none",
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "9048b88263cc41c6"
            ]
        ]
    },
    {
        "id": "530af191b960aa30",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "监听设备拔出：/dev/ttyACM0",
        "info": "",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "91062325d6f6a266",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "部署后清空ui信息",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1270,
        "y": 260,
        "wires": [
            [
                "d3f271452739bbd7",
                "5562e27c98051895",
                "79e7a239eb3f8e73"
            ]
        ]
    },
    {
        "id": "c058c51e3f96cffc",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：写入中...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "写入中...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 320,
        "wires": [
            [
                "5562e27c98051895",
                "79e7a239eb3f8e73"
            ]
        ]
    },
    {
        "id": "378c8b14cfb83eef",
        "type": "switch",
        "z": "2f9a0e8e53bd946e",
        "name": "设置校验码的结果",
        "property": "payload.set_md5",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 700,
        "wires": [
            [
                "485ccc7f3c7380c1"
            ],
            [
                "189b5bd31a896787"
            ]
        ]
    },
    {
        "id": "a4ffa27f4454190a",
        "type": "switch",
        "z": "2f9a0e8e53bd946e",
        "name": "设置地区参数的结果",
        "property": "payload.set_region",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 980,
        "y": 740,
        "wires": [
            [
                "88e63b19c6113207"
            ],
            [
                "a97d85da664cdaeb"
            ]
        ]
    },
    {
        "id": "88e63b19c6113207",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：写入成功",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "写入成功",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 640,
        "wires": [
            [
                "79e7a239eb3f8e73"
            ]
        ]
    },
    {
        "id": "a97d85da664cdaeb",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：写入失败",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "写入失败",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 680,
        "wires": [
            [
                "79e7a239eb3f8e73"
            ]
        ]
    },
    {
        "id": "26ef63dc7e2d627c",
        "type": "ui_group",
        "name": "Group",
        "tab": "a2f304965a02ef1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2f304965a02ef1e",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]