examples/DTU/2-ui_dtu_burn.json
[
    {
        "id": "f303aa211865d559",
        "type": "CH58x Burn",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "chip": "ch583",
        "firmware_codeflash": "/root/NodeRED-Computer-PartHardware/python-Script/CH58x_Firmware/dtu-core-0.6.0.hex",
        "firmware_dataflash": "/root/NodeRED-Computer-PartHardware/python-Script/CH58x_Firmware/dtuBoot.bin",
        "setReset": true,
        "set": true,
        "x": 400,
        "y": 2100,
        "wires": [
            [
                "1f90350b94854f3c",
                "cdce9e1fb4f16da1",
                "1c6353c796c487a1"
            ]
        ]
    },
    {
        "id": "663a87cf76f25d85",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "/dev/ch37x0",
        "setIOin": "",
        "edge": "none",
        "x": 190,
        "y": 2100,
        "wires": [
            [
                "f303aa211865d559",
                "b3e0675915445ba9",
                "97792e7c5889820a"
            ]
        ]
    },
    {
        "id": "655882fdc685bb64",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "监听设备插入：/dev/ch37x0",
        "info": "",
        "x": 240,
        "y": 2060,
        "wires": []
    },
    {
        "id": "1f90350b94854f3c",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 2100,
        "wires": []
    },
    {
        "id": "cdce9e1fb4f16da1",
        "type": "switch",
        "z": "2f9a0e8e53bd946e",
        "name": "筛选烧录成功的流",
        "property": "payload.result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 2160,
        "wires": [
            [
                "0bce44d441943451"
            ]
        ]
    },
    {
        "id": "0bce44d441943451",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "设定msg.payload.Switch = on",
        "rules": [
            {
                "t": "set",
                "p": "payload.Switch",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 2160,
        "wires": [
            [
                "3e046329e7a101fd",
                "09d3a238124e913a"
            ]
        ]
    },
    {
        "id": "32b41d7c02b0b477",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "打开流开关",
        "info": "",
        "x": 860,
        "y": 2120,
        "wires": []
    },
    {
        "id": "f7ff70d16ba1186f",
        "type": "Flow Switch",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "flowSwitch": "off",
        "x": 530,
        "y": 2300,
        "wires": [
            [
                "9cbf821e714e150d"
            ]
        ]
    },
    {
        "id": "204661409f21f0aa",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "add",
        "devName": "/dev/ttyACM0",
        "setIOin": "",
        "edge": "none",
        "x": 190,
        "y": 2300,
        "wires": [
            [
                "f7ff70d16ba1186f",
                "64e2ff70a6b8b486"
            ]
        ]
    },
    {
        "id": "3130f9e6755c2a29",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "监听设备插入：/dev/ttyACM0",
        "info": "",
        "x": 240,
        "y": 2260,
        "wires": []
    },
    {
        "id": "9cbf821e714e150d",
        "type": "DTU Config",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set1": true,
        "set2": true,
        "set3": true,
        "region": "EU868",
        "x": 780,
        "y": 2300,
        "wires": [
            [
                "1270398ac2debccf"
            ],
            [
                "21cb5634d651c6ad",
                "9bb9afff2a343d3d"
            ],
            [
                "29954f4087988164",
                "b16390e045cdfbce",
                "237f4effc274c216"
            ]
        ]
    },
    {
        "id": "1270398ac2debccf",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1060,
        "y": 2240,
        "wires": []
    },
    {
        "id": "21cb5634d651c6ad",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1060,
        "y": 2300,
        "wires": []
    },
    {
        "id": "29954f4087988164",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1060,
        "y": 2360,
        "wires": []
    },
    {
        "id": "b16390e045cdfbce",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "设定msg.payload.Switch = off",
        "rules": [
            {
                "t": "set",
                "p": "payload.Switch",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 2420,
        "wires": [
            [
                "50f5a5d63a182d78"
            ]
        ]
    },
    {
        "id": "41869564041a2589",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "关闭流开关",
        "info": "",
        "x": 900,
        "y": 2460,
        "wires": []
    },
    {
        "id": "64e2ff70a6b8b486",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 380,
        "y": 2360,
        "wires": []
    },
    {
        "id": "b3e0675915445ba9",
        "type": "debug",
        "z": "2f9a0e8e53bd946e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 380,
        "y": 2160,
        "wires": []
    },
    {
        "id": "8726d711e616612c",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "该节点是从上到下依次进行的",
        "info": "",
        "x": 820,
        "y": 2240,
        "wires": []
    },
    {
        "id": "3e046329e7a101fd",
        "type": "link out",
        "z": "2f9a0e8e53bd946e",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "8c01533fb1ac8d45"
        ],
        "x": 1095,
        "y": 2180,
        "wires": []
    },
    {
        "id": "8c01533fb1ac8d45",
        "type": "link in",
        "z": "2f9a0e8e53bd946e",
        "name": "link in 3",
        "links": [
            "3e046329e7a101fd"
        ],
        "x": 395,
        "y": 2280,
        "wires": [
            [
                "f7ff70d16ba1186f"
            ]
        ]
    },
    {
        "id": "50f5a5d63a182d78",
        "type": "link out",
        "z": "2f9a0e8e53bd946e",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "098bf5f0473aade1"
        ],
        "x": 1135,
        "y": 2420,
        "wires": []
    },
    {
        "id": "098bf5f0473aade1",
        "type": "link in",
        "z": "2f9a0e8e53bd946e",
        "name": "link in 4",
        "links": [
            "50f5a5d63a182d78"
        ],
        "x": 395,
        "y": 2320,
        "wires": [
            [
                "f7ff70d16ba1186f"
            ]
        ]
    },
    {
        "id": "7637e2032786fccb",
        "type": "ui_text",
        "z": "2f9a0e8e53bd946e",
        "group": "26ef63dc7e2d627c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "烧录提示：",
        "format": "{{msg.payload.dashboard_label}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 2000,
        "wires": []
    },
    {
        "id": "89da5b952736366d",
        "type": "ui_text",
        "z": "2f9a0e8e53bd946e",
        "group": "26ef63dc7e2d627c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "写入校验码：",
        "format": "{{msg.payload.dashboard_label}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 2140,
        "wires": []
    },
    {
        "id": "4f4caec833b1d630",
        "type": "ui_text",
        "z": "2f9a0e8e53bd946e",
        "group": "26ef63dc7e2d627c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "写入地区参数：",
        "format": "{{msg.payload.dashboard_label}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 2280,
        "wires": []
    },
    {
        "id": "97792e7c5889820a",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：正在烧录中...",
        "rules": [
            {
                "t": "set",
                "p": "payload.dashboard_label",
                "pt": "msg",
                "to": "正在烧录中...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2000,
        "wires": [
            [
                "7637e2032786fccb"
            ]
        ]
    },
    {
        "id": "1c6353c796c487a1",
        "type": "link out",
        "z": "2f9a0e8e53bd946e",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "fb5f91a5b7e88f8d"
        ],
        "x": 555,
        "y": 2060,
        "wires": []
    },
    {
        "id": "fb5f91a5b7e88f8d",
        "type": "link in",
        "z": "2f9a0e8e53bd946e",
        "name": "link in 5",
        "links": [
            "1c6353c796c487a1"
        ],
        "x": 1485,
        "y": 1980,
        "wires": [
            [
                "7637e2032786fccb"
            ]
        ]
    },
    {
        "id": "079ec2c82405c1db",
        "type": "inject",
        "z": "2f9a0e8e53bd946e",
        "name": "部署后清空ui信息",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1370,
        "y": 2380,
        "wires": [
            [
                "7637e2032786fccb",
                "89da5b952736366d",
                "4f4caec833b1d630"
            ]
        ]
    },
    {
        "id": "0658b6e1d8c1b1c1",
        "type": "Dev Event",
        "z": "2f9a0e8e53bd946e",
        "name": "",
        "set": true,
        "action": "remove",
        "devName": "/dev/ttyACM0",
        "setIOin": "",
        "edge": "none",
        "x": 1170,
        "y": 2080,
        "wires": [
            [
                "a0f7e15a4995f669"
            ]
        ]
    },
    {
        "id": "34a3724b40d39c62",
        "type": "comment",
        "z": "2f9a0e8e53bd946e",
        "name": "监听设备拔出：/dev/ttyACM0",
        "info": "",
        "x": 1220,
        "y": 2040,
        "wires": []
    },
    {
        "id": "a0f7e15a4995f669",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "清空UI标签",
        "rules": [
            {
                "t": "set",
                "p": "payload.dashboard_label",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 2080,
        "wires": [
            [
                "7637e2032786fccb",
                "89da5b952736366d",
                "4f4caec833b1d630"
            ]
        ]
    },
    {
        "id": "09d3a238124e913a",
        "type": "change",
        "z": "2f9a0e8e53bd946e",
        "name": "UI标签：写入中...",
        "rules": [
            {
                "t": "set",
                "p": "payload.dashboard_label",
                "pt": "msg",
                "to": "写入中...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 2160,
        "wires": [
            [
                "89da5b952736366d",
                "4f4caec833b1d630"
            ]
        ]
    },
    {
        "id": "9bb9afff2a343d3d",
        "type": "link out",
        "z": "2f9a0e8e53bd946e",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "e55ba9778e37cb62"
        ],
        "x": 965,
        "y": 2280,
        "wires": []
    },
    {
        "id": "237f4effc274c216",
        "type": "link out",
        "z": "2f9a0e8e53bd946e",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "9753a1859a6ac23c"
        ],
        "x": 965,
        "y": 2320,
        "wires": []
    },
    {
        "id": "e55ba9778e37cb62",
        "type": "link in",
        "z": "2f9a0e8e53bd946e",
        "name": "link in 6",
        "links": [
            "9bb9afff2a343d3d"
        ],
        "x": 1525,
        "y": 2080,
        "wires": [
            [
                "89da5b952736366d"
            ]
        ]
    },
    {
        "id": "9753a1859a6ac23c",
        "type": "link in",
        "z": "2f9a0e8e53bd946e",
        "name": "link in 7",
        "links": [
            "237f4effc274c216"
        ],
        "x": 1525,
        "y": 2220,
        "wires": [
            [
                "4f4caec833b1d630"
            ]
        ]
    },
    {
        "id": "26ef63dc7e2d627c",
        "type": "ui_group",
        "name": "Group",
        "tab": "a2f304965a02ef1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2f304965a02ef1e",
        "type": "ui_tab",
        "name": "Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]