examples/ESP32 Burn/esp8266/1-esp8266-Burn.json
[
    {
        "id": "aed00647a2d674c1",
        "type": "ESP32 Burn",
        "z": "2cc6b8578366bc4d",
        "name": "",
        "chip": "esp8266",
        "firmware": "/root/NodeRED-Computer-PartHardware/Executable-Script/Block-Burn/ESP32_Firmware/esp8266/esp8266-Blink.bin",
        "x": 800,
        "y": 540,
        "wires": [
            [
                "f9b9cb215e5f9835"
            ]
        ]
    },
    {
        "id": "165abd9a70186d17",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "烧录所有插入的esp8266设备",
        "info": "",
        "x": 480,
        "y": 500,
        "wires": []
    },
    {
        "id": "756735c610609e7a",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "拔出/dev/ttyUSBx设备",
        "info": "",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "9e5aa364ae6fe4f4",
        "type": "Dev Event",
        "z": "2cc6b8578366bc4d",
        "name": "事件监听 - 移除设备",
        "set": true,
        "action": "remove",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "299ea482ffbc4e7c"
            ]
        ]
    },
    {
        "id": "f9b9cb215e5f9835",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 2：数据流详情",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1040,
        "y": 540,
        "wires": []
    },
    {
        "id": "299ea482ffbc4e7c",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 1：数据流详情",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "f8dbb7b453acaecf",
        "type": "Dev Event",
        "z": "2cc6b8578366bc4d",
        "name": "事件监听 - 监听/dev/ttyUSBx设备插入",
        "set": true,
        "action": "add",
        "devName": "",
        "setIOin": "",
        "edge": "none",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "aed00647a2d674c1",
                "6d47e0ea62c69b9c"
            ]
        ]
    },
    {
        "id": "6d47e0ea62c69b9c",
        "type": "debug",
        "z": "2cc6b8578366bc4d",
        "name": "debug 2：数据流详情",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 789.6666259765625,
        "y": 631,
        "wires": []
    },
    {
        "id": "3d16aec25f596a68",
        "type": "comment",
        "z": "2cc6b8578366bc4d",
        "name": "esp8266烧录",
        "info": "",
        "x": 430,
        "y": 340,
        "wires": []
    }
]